.loginPage{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f4f7fc;
padding:40px;
}

.loginBox{
width:420px;
background:white;
padding:40px;
border-radius:20px;
box-shadow:0 15px 35px rgba(0,0,0,.1);
}

.loginBox h1{
text-align:center;
margin-bottom:10px;
color:#004aad;
}

.loginBox p{
text-align:center;
color:#666;
margin-bottom:30px;
}

.inputGroup{
margin-bottom:20px;
}

.inputGroup label{
display:block;
margin-bottom:8px;
font-weight:600;
}

.inputGroup input{
width:100%;
padding:14px;
border:1px solid #ddd;
border-radius:10px;
font-size:16px;
outline:none;
}

.inputGroup input:focus{
border-color:#004aad;
}

.loginBtn{
width:100%;
padding:15px;
background:#004aad;
color:white;
border:none;
border-radius:10px;
font-size:17px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

.loginBtn:hover{
background:#003080;
}

.bottomText{
text-align:center;
margin-top:20px;
}.loginOptions{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

font-size:15px;

}

.loginOptions label{

display:flex;

align-items:center;

gap:8px;

}

.forgot{

color:#004aad;

cursor:pointer;

font-weight:600;

}

.showBtn{

margin-top:15px;

width:100%;

padding:14px;

background:white;

border:2px solid #004aad;

color:#004aad;

font-size:16px;

font-weight:bold;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

.showBtn:hover{

background:#004aad;

color:white;

}

.bottomText a{

margin-left:8px;

text-decoration:none;

font-weight:bold;

color:#004aad;

}