.signupPage{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f4f7fc;
padding:40px;
}

.signupBox{
width:450px;
background:white;
padding:40px;
border-radius:20px;
box-shadow:0 15px 35px rgba(0,0,0,.1);
}

.signupBox h1{
text-align:center;
color:#004aad;
margin-bottom:10px;
}

.signupBox p{
text-align:center;
color:#666;
margin-bottom:25px;
}

.signupBtn{
width:100%;
padding:15px;
background:#004aad;
color:white;
border:none;
border-radius:10px;
font-size:17px;
font-weight:bold;
cursor:pointer;
margin-top:15px;
transition:.3s;
}

.signupBtn:hover{
background:#003080;
}

.signupOptions{
margin-top:10px;
margin-bottom:15px;
font-size:14px;
}

.signupOptions label{
display:flex;
align-items:center;
gap:8px;
}