.topWinners{
    padding:80px 20px;
    background:#f8fbff;
    text-align:center;
}

.topWinners h2{
    font-size:42px;
    margin-bottom:50px;
    color:#081c3a;
}

.winnerGrid{
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.winnerCard{
    background:#fff;
    border-radius:20px;
    padding:40px 30px;
    box-shadow:0 12px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.winnerCard:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 40px rgba(0,0,0,.12);
}

.winnerCard h1{
    font-size:52px;
    color:#004aad;
    margin-bottom:15px;
}

.winnerCard h3{
    font-size:24px;
    margin-bottom:10px;
    color:#081c3a;
}

.winnerCard p{
    color:#666;
    margin-bottom:20px;
}

.winnerCard span{
    display:inline-block;
    background:#004aad;
    color:#fff;
    padding:10px 24px;
    border-radius:30px;
    font-weight:700;
}

@media(max-width:900px){
    .winnerGrid{
        grid-template-columns:1fr;
    }
}